.semantic-search-label {
  font-size: 16px;
}

.semantic-search-label:after {
  content: '';
}

.semantic-search-sort {
  font-style: italic;
  padding-top: 10px;
}

.similar-datasets {
  margin-top: 30px;
}

.similar-datasets > h3 {
  margin-bottom: 20px;
}
